**/.git
**/.github
**/.gitignore
**/__pycache__
**/*.pyc

# Ignore temporary assets
_github_clones/*.zip
_github_clones/*_temp/

# Builds requiring git metadata
!_github_clones/ardupilot/**/.git
!_github_clones/PX4-Autopilot/**/.git
!_github_clones/onnxruntime/**/.git
